@import "null.css";

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "CircularStd", "sans-serif";
	font-style: normal;
	line-height: 1.25;
	font-size: 18px;
	color: #313131;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 1025px;
	margin: 0 auto;
	margin-top: 140px;
}

.main {
	font-size: 65px;
	line-height: 1.26;
	margin-bottom: 20px;
	text-align: center;
	text-transform: capitalize;
}

.text {
	font-size: 20px;
	color: #5f5f5f;

	text-align: center;
	max-width: 750px;
	margin: 0 auto 224px;
}

.main-two {
	font-weight: 700;
	font-size: 34px;
	line-height: 1.3;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.text-two {
	line-height: 1.55;
	margin-bottom: 125px;
	color: #5f5f5f;
	max-width: 508px;
}

.name {
	line-height: 1.28;
	font-weight: 700;
	margin-bottom: 5px;
}

.job {
	color: #b8b8b8;
	line-height: 1.27;
	margin-bottom: 67px;
}
